<div class="container mt-5">

  <div class="row justify-content-between mb-2">
      <h1 class="col-md-4">Liste des parrains</h1>

      <div class="col-md-6">
        <form class="d-flex" (ngSubmit)="searchParrains()">
          <input class="form-control" type="search" placeholder="Rechercher ici..." name="searchTerm" aria-label="Search" [(ngModel)]="searchTerm">
          <button class="btn btn-outline-success" type="submit">Chercher</button>
        </form>
      </div>

      <div class="col-md-2 text-end">
        <a routerLink="/ajouterParrain" class="btn btn-success pb-1">+Nouveau</a>
      </div>

    </div>

  <table class="table table-bordered table-striped  table-hover">
    <thead>
      <tr>
        <th class="p-4">ID</th>
        <th class="p-4">Nom</th>
        <th class="p-4">Prénom</th>
        <th class="p-4">Numéro de la carte d'électeur</th>
        <th class="p-4">Numéro de la carte d'identité CEDEAO</th>
        <th class="p-4">Circonscription électorale</th>
        <th class="p-4">date de Signature</th>
        <th class="p-4">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let a of parrains">
        <th scope="row">{{ a.id }}</th>
        <td class="p-3">{{ a.nom }}</td>
        <td class="p-3">{{ a.prenom }}</td>
        <td class="p-3">{{ a.numElecteur }}</td>
        <td class="p-3">{{ a.numIdentite }}</td>
        <td class="p-3">{{ a.localite }}</td>
        <td class="p-3">{{ a.dateSignature }}</td>
        <td class="p-3 d-flex">
          <a class="btn btn-primary btn-sm rounded-pill" [routerLink]="['/modifier', a.id]">Modifier</a>&nbsp;
          <a class="btn btn-danger btn-sm  rounded-pill"  (click)="supprimerParrain(a.id)">Suprimer</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <nav aria-label="Page navigation ">
      <ul class="pagination " style="cursor : pointer;">
        <li class="page-item" (click)="goToPreviousPage()"><a class="page-link" >Précédent</a></li>
        <li class="page-item" *ngFor="let pageNumber of range(page.totalPages)">
          <a class="page-link" (click)="goToPage(pageNumber)">{{ pageNumber + 1 }}</a>
        </li>
        <li class="page-item" (click)="goToNextPage()"><a class="page-link" >Suivant</a></li>
      </ul>
    </nav>
  </div>

</div>
