
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<div class="contenue">
  <div class="p-4">
    <img src="assets/images/drapeau.jpg" alt="" width="100px">
    <h4>Republique du Sénégal </h4>
    <span>Un peuple - un but - une foi</span>
  </div>

  <div class="">

      <div class="content">
         <div class="text">
            Login Form
         </div>
         <form (ngSubmit)="seConnecter()">
            <div class="field">
               <input type="text" name="email" [(ngModel)]="user.username" required>
               <span class="fas fa-user"></span>
               <label>Email </label>
            </div>
            <div class="field">
               <input type="password" name="password" [(ngModel)]="user.password" required>
               <span class="fas fa-lock"></span>
               <label>Mot de passe </label>
            </div>
            <div class="forgot-pass">
               <a href="#">Mot de passe oublié ?</a>
            </div>
            <button>Se connecter</button>
            <div class="sign-up">
               Not a member?
               <a href="#">signup now</a>
            </div>
         </form>
      </div>

  </div>

</div>
